/*10/8*/
/*toyo*/
*{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    list-style-type: none;
    overflow-x: unset;
}
a{
    text-decoration: none;
    color: darkslategrey;
}
body{
    background-color: #fffeec;
}
.nav{
    width: 97%;
    position: fixed;
    z-index: 10;
    height: 50px;
    background-color: #fda9ba;
    border: 5px #fbd6bc solid;
}

.telephone{
    width: 81%;
    height: 86%;
    float: left;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    padding-top: 7px;
    border-right: 3px #fbd6bc solid;
}
.navimg{
    height: 83%;
    width: 12%;
    margin: 8px;
    background-image: url(../img/list.png);
    float: right;
}
.navLong{
    width: 65%;
    position:fixed;
    z-index: 15;
    background-color: antiquewhite;
    display:none;
    border: 3px salmon solid;
}

.navLong1{
    width: 92%;
    height: 37px;
    border: 3px salmon solid;
    border-radius: 10px;
    padding-top: 11px;
    font-size: 19px;
    margin: 6px;
    text-align: center;
    vertical-align: middle;
    background-color: #f18a88;
}
.navLongLogo {
    margin-top: 5px;
    height: 104px;
    text-align: center;
    vertical-align: middle;
    background-image: url(../img/footlogo.png);
}
.navLong2{
    border-top: 3px salmon solid;
    position: absolute;
    z-index: 10;
    bottom: 0px;
    height: 55px;
    font-size: 19px;
    text-align: center;
    padding-top: 15px;
    vertical-align: middle;
}
.top{
    height: 220px;

    padding-top: 62px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.logo{
    width: 355px;
    height: 115px;
    background-image: url(../img/logo.png);
}
.tel{
    width: 224px;
    height: 108px;
    background-image: url(../img/tel.png);
}
.footlogo{
    width: 355px;
    height: 115px;
    background-image: url(../img/footlogo.png);
}
.foottel{
    width: 224px;
    height: 76px;
    background-image: url(../img/footing.png);
}
.navLage{
    height:75px;
    display: none;
}
.navButton{
    height:50px;
    width: 16.65%;
    background-color: chocolate;
    float: left;
}
.focus{
    background-image: url(../img/focus.png);
}
.footing{
    display: none;
    position:fixed;
    z-index: 10;
    bottom:0px;
    height: 50px;
    background-color: violet;
}
.end{
    height: 195px;/*需要调试*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.Titles{
    height: 50px;
    background-image: url(../img/titleback.png);
    background-repeat: repeat-x;
    background-size: unset;
}
@media screen and (min-width:700px) {
    .top{
    height: 150px;/*需要调试*/
    justify-content:space-between;
    padding-top: 98px;
    }
    .nav {
        width: 99%;
        height: 95px;
    }
    .telephone {
        font-size: 50px;
    }
    .top div{
        margin: 25px;/*需要调试*/
    }
    .end div{
        margin: 25px;/*需要调试*/
    }
    .end{
        height: 150px;/*需要调试*/
        justify-content:space-between;
    }
}

@media screen and (min-width:900px) {
    body{
        width: 900px;
        background-color: #fffeec;
    }
    *{
        /* width: 900px; */
        margin: 0px auto;
    }
    .top{
        padding-top: 0px;
        }
    .nav{
        display: none;
    }
    .navLage{
        display: block;
    }
    .Titles{
        height: 70px;
        background-image: url(../img/titleback.png);
        background-repeat: repeat-x;
        background-size: unset;
    }
}